# Python byte-code / compiled files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
ENV/
.venv/

# Jupyter & IDE files
.ipynb_checkpoints/
.vscode/
.idea/

# Distribution / packaging
build/
dist/
*.egg-info/

# Operating System files
.DS_Store
Thumbs.db
